.App {
  text-align: center;
}

.App-header {
  height: 13vh;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

.BigCountdownClock {
  font-size: 13vh;
}

input[type='number'] {
  text-align: right;
  border: 1px solid;
  height: 26px;
}

.CountdownControlPanel fieldset {
  display: inline-block;
  border: 1px solid;  
}

.CountdownControlPanel fieldset legend {
  text-align: left;
}

.CountdownControlPanel-flex {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
}

.CountdownControlPanel-fields {
  display: inline-flex;
  justify-content: space-between;
  text-align: left;
}

.CountdownControlPanel-field {
  margin: 5px;
  padding-top: 10px;
}

.CountdownControlPanel-field input {
  display: block;
}

.CountdownControlPanel-commands {
  display: inline-flex;
  justify-content: space-between;
}

.CountdownControlPanel-command {
  margin: 5px;
  min-width: 80px;
  height: 30px;
  bottom: 0px;
  background: white;
  border: 1px solid;
  transition: all 0.2s ease-in-out;
}

.CountdownControlPanel-command:hover {
  background: #BBBBBB;
}